.preco {
  color:red;
  font-weight:bold;
}

.comprar {
  background-color:blue;
}

/*EX1 modules*/
.titulos {
  color: #43c;
}

/* no local de composes use a vírgula .titulo, .preco {} */
.precos {
  composes: titulo;
  font-weight: bold;
}

/* no local de variáveis utilize variáveis de CSS com o var() */
@value width: 900px;

/* crie um css global utilizando o IMPORT puro para quando precisar de estilos globais */
:global .container {
  max-width: width;
}