@charset 'UTF-8';

div {
  font-family:Calibri;
  font-size:2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:3rem;
}

div button {
  letter-spacing:.1rem;
  padding:.5rem 1rem;
  border:.2rem solid rgba(0,0,0,.8);
  box-shadow:1rem 1rem 1rem black;
  border-radius:0rem .7rem .7rem .7rem;
  box-shadow:5px 5px 0px -1px rgba(0,0,0,.75);
  transition:.3s;
  cursor:pointer;
  justify-self:center;
  opacity:.7;
}

div button:hover {
  transition:.3s;
  letter-spacing:.2rem;
  opacity:1;
}

div button:active {
  box-shadow:2px 2px 0px -1px rgba(0,0,0,.75);
  transition:.3s;
  border-radius:.7rem .7rem 0rem .7rem;
}